<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<title>About</title>
<div class='jumbtron'>
<h1>The details of Insurance</h1>
<h2>GISF Description</h2>
    <p>GISF covers all major insurance classes of General Insurance.
        It is easy to use, customization, comprehensive and easy to implement.
       GISF is designed to meet today's business challenges of General Insurance Organizations.
       It incorporates the functionalities of a futuristic insurance processing solution.
        Insurance companies can do the various class of business like Motor,Travel,Home,Marine, AirCargo...etc
        It has various modules like MasterSetup,Underwriter,Endorsement,Re-insurance,Renewal,Claims,Agency.</p>

</div>

{%endblock%}