<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="container" align="center">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<h1 style ="color:MediumSeaGreen;">General Insurance MainPage...</h1>
<form method="GET">
    {{form.as.p}}
    {%csrf_token%}

<div>
    <h1><a href="#">Master</a></h1><br>
    <h1> <a href="#">Underwriter</a></h1><br>
    <h1><a href="#">Claims</a></h1><br>
    <h1><a href="#">Finance</a></h1>
</div>

</div>
</form>
</body>
</html>
{%endblock%}